*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.min_box{
    display: inline-block;
    border : 4px solid #ccc;
    width: 392px;
    height: 392px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: relative;
}
.min_box li{
    width: 200px;
    height: 200px;
    margin:auto;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.min_box li:before,
.min_box li:after{
    content:'';
    width: 4px;
    height: 4px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    border:1px solid #ccc;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.min_box li:before{
    top:-380px;
}
.min_box li:after{
    bottom:-380px;
}



/*刻度开始*/
.min_box li:nth-child(1){
    transform: rotate(0);
}
.min_box li:nth-child(2){
    transform: rotate(6deg);
}
.min_box li:nth-child(3){
    transform: rotate(12deg);
}
.min_box li:nth-child(4){
    transform: rotate(18deg);
}
.min_box li:nth-child(5){
    transform: rotate(24deg);
}
.min_box li:nth-child(6){
    transform: rotate(30deg);
}
.min_box li:nth-child(7){
    transform: rotate(36deg);
}
.min_box li:nth-child(8){
    transform: rotate(42deg);
}
.min_box li:nth-child(9){
    transform: rotate(48deg);
}
.min_box li:nth-child(10){
    transform: rotate(54deg);
}
.min_box li:nth-child(11){
    transform: rotate(60deg);
}
.min_box li:nth-child(12){
    transform: rotate(66deg);
}
.min_box li:nth-child(13){
    transform: rotate(72deg);
}
.min_box li:nth-child(14){
    transform: rotate(78deg);
}
.min_box li:nth-child(15){
    transform: rotate(84deg);
}
.min_box li:nth-child(16){
    transform: rotate(90deg);
}
.min_box li:nth-child(17){
    transform: rotate(96deg);
}
.min_box li:nth-child(18){
    transform: rotate(102deg);
}
.min_box li:nth-child(19){
    transform: rotate(108deg);
}
.min_box li:nth-child(20){
    transform: rotate(114deg);
}
.min_box li:nth-child(21){
    transform: rotate(120deg);
}
.min_box li:nth-child(22){
    transform: rotate(126deg);
}
.min_box li:nth-child(23){
    transform: rotate(132deg);
}
.min_box li:nth-child(24){
    transform: rotate(138deg);
}
.min_box li:nth-child(25){
    transform: rotate(144deg);
}
.min_box li:nth-child(26){
    transform: rotate(150deg);
}
.min_box li:nth-child(27){
    transform: rotate(156deg);
}
.min_box li:nth-child(28){
    transform: rotate(162deg);
}
.min_box li:nth-child(29){
    transform: rotate(168deg);
}
.min_box li:nth-child(30){
    transform: rotate(174deg);
}
/*刻度结束*/


.min_box li:nth-child(1):before{
    width: 3px;
    height: 12px;

    background-color: #ccc;
    border-radius: 2px;
}
.min_box li:nth-child(1):after{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}

.min_box li:nth-child(6):before{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}
.min_box li:nth-child(6):after{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}

.min_box li:nth-child(11):before{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}
.min_box li:nth-child(11):after{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}

.min_box li:nth-child(16):before{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}
.min_box li:nth-child(16):after{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}

.min_box li:nth-child(21):before{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}
.min_box li:nth-child(21):after{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}
.min_box li:nth-child(26):before{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}
.min_box li:nth-child(26):after{
    width: 3px;
    height: 12px;
    background-color: #ccc;
    border-radius: 2px;
}
